<!-- footer.component.html -->
<footer class="footer-color-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="top-header">
            <div class="top-title">Tendances populaires</div>
          </div>
          <hr>
          <div class="top-sub-title">Top marchands</div>
          <!-- Add top merchant links here -->
          <!-- Top Tunisian merchant links -->
          <a href="https://www.mytek.tn" class="general-stats-item">Mytek</a>
          <a href="https://www.zoom.com.tn" class="general-stats-item">Zoom Informatique</a>
          <a href="https://www.tunisianet.com.tn" class="general-stats-item">Tunisianet</a>
          <a href="https://spacenet.tn/" class="general-stats-item">Spacenet</a>

          <!-- Add more merchant links here -->
        </div>
        <!-- Divider -->
        <div class="col-md-1 divider">
          <hr>
        </div>
        <div class="col-md-3">
          <div class="top-header">
            <!-- Repeat the same structure for other categories -->
            <div class="top-sub-title">Top marques</div>
            <!-- Add top brand links here -->
            <a href="https://www.msi.com" class="general-stats-item">MSI</a>
            <a href="https://www.asus.com" class="general-stats-item">Asus</a>

            <a href="https://www.apple.com/tn" class="general-stats-item">Apple</a>
            <a href="https://www.samsung.com/fr" class="general-stats-item">Samsung</a>

            <!-- Add more brand links here -->
          </div>
        </div>
        <!-- Divider -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="/forms" class="footer-link">Inscrivez votre boutique en ligne</a>
            </div>
          </div>
        </div>
       
        <!-- Divider -->
       
        </div>
      </div>
      <div class="footer-color">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <p class="footer-description">Price Wice est un moteur de recherche spécialisé dans les sites e-commerces en Tunisie. Il vous permet de rechercher entre beaucoup de produits en offrant différentes fonctionnalités de filtrage et d'analyse des prix.</p>
            </div>
            <div class="col-md-3">
              <p class="footer-description">Copyright © <a href="https://abneam.com/" target="_blank">Abneam</a>, 2024. Tous droits réservés.</p>
            </div>
          </div>
        </div>
        
      </div>
  </footer>

  