/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}


.router-outlet-container {
  flex: 1; /* Allow the router-outlet to take up remaining space */
}

.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
  flex-shrink: 0; /* Prevent footer from shrinking */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
